#droplogin {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}

#menu {
    background-color: black;
    z-index: 500;
    border: black solid 2px;
    font-size: 50px;
}